<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mars homework </title>
  
  <link rel="stylesheet" href="../static/css/reset.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type = "text/css" href="../static/css/style.css">
</head>

<body>
  <div class="container">

    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New data!</a></p>
    </div>

    <div class = "container">
      <div class="row" id="mars-news">
        <div class="col-md-8">

          <h2><b>Latest Mars News</b></h2>
          <h4 class = "mars_data" >{{mars_db.news_title}}</h4>
          <p>{{mars_db.news_paragraph}}</p>
        </div>
      </div>

      <div class="row" id="mars-image">
        <div class = "col-md-8">
          <h2><b>Feature Mars Image</b></h2>
          <img class = "img-responsive" src="{{mars_db.featured_image}}" style="max-width:90%; " alt="JPL Mars Space Main Image">
        </div>
      
        <div class = " col-md-4" id="table">
           <!-- <h2><b>Current Weather on Mars</b></h2>
            <p>{{mars_db.weather}}</p>-->

            <div class = "card" style ="width: 100%;">
                <div class="card-body text-black">
                    <h6 class="card-title" style="font-weight: bold; font-size: 30px">Current Weather on Mars</h6>
                    <p class="card-text" >{{ mars_db.weather}}</p>
                </div>
              </div>
          
              <h2><b>Mars Facts</b></h2>
              <p>{{mars_db.facts | safe}}</p> 
  
        </div>

             <div class = "row" id = "hemisphere image">
                <div class = "col-md-12">
                    <h2 style="text-align: center"><b>Mars Hemispheres</b></h2>
                    
                    {% for hemi in mars_db.hemispheres%}
                    <div class = "col-md-6">
                          <div class = "thumbnail">
                            <h4>{{hemi.title}} </h4>
                            <img class = "img" src="{{hemi.img_url}}" style="max-width:90%" alt="Hemisphere Images">
                          </div> <!--   end thumbnail -->
                    </div>  <!--  end col-md -->
                   {% endfor %}               

                  </div>
                </div>

        

    </div>


  </div>
</body>

</html>

